@{
    ViewData["Title"] = "Home Page";
}

<link href="~/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />

@section scripts
{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/js/app-schedule.js"></script>
    <script src="~/js/scheduleController.js"></script>
}

@*content*@

<div ng-app="app-schedule">
    <div ng-controller="scheduleController as vm">
        <table class="table">
            <tr ng-repeat="event in vm.events">
                <td>{{ event.Title }}</td>
                <td>{{ event.Description }}</td>
                <td>{{ event.StartAt | date:'dd-MM-yyyy hh:mm'}}</td>
                <td>{{ event.EndAt | date:'dd-MM-yyyy hh:mm'}}</td>
                <td>
                    <a href="#"class="btn btn-primary">Manage</a>
                </td>
            </tr>
        </table>
        
        <div id='calendar'> @*show the calendar*@
            
        </div>
    </div>
</div>



